1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [1]:
s = list()
#"Write a program that prints the numbers from 1 to 100. \
#But for multiples of three print Hello instead of the number and for the multiples of five print World. \
#For numbers which are multiples of both three and five print HelloWorld."

for i in range (1,101):
    if (i%15==0):
        print ("HelloWorld")
        s.append("PythonWorks")
    elif (i%3==0):
        print ("Hello")
        s.append("Python")
    elif (i%5==0):
        print ("World")
        s.append("Works")
    else :
        print (i)
        s.append(i)

myTuple = tuple(s)
print (myTuple)
####### Swap Function #######
def swapFunction(x,y):
    holder = x
    y = x
    x = holder
#################################################

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'PythonWorks', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'PythonWorks', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'PythonWorks', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'PythonWorks', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'PythonWorks', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'PythonWorks', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [22]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
def unique(l):
    unique_list = []
    for x in l:
        if x not in unique_list:
            unique_list.append(x)
    print(unique_list);
unique(l)
###########################second way ##########################################
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]
used = set()
unique = [x for x in l if x not in used and (used.add(x) or True)]
print(unique)

[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]
[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

Do the same without using user-defined functions, but exploiting only the Python data structures.

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [2]:
################### 3EXMP euclidean distance############
import math
print("Enter the first point")
x1, y1 = map(int, input().split())
print("Enter the second point")
x2, y2 = map(int, input().split())
dist = math.sqrt((x2-x1)**2 + (y2-y1)**2)
print("euclidean distance " + str(dist))

Enter the first point
3 0
Enter the second point
0 4
euclidean distance 5.0

In [10]:
############# 4 EXMP counting without Capitals###########################
import collections
string=input("Paste text here: ")
results = collections.Counter(string.lower())
print(results)

Paste text here: Merhaba Naber Nasılsın
Counter({'a': 4, 'n': 3, 'e': 2, 'r': 2, 'b': 2, ' ': 2, 's': 2, 'ı': 2, 'm': 1, 'h': 1, 'l': 1})

In [16]:
##exapmle 6####
import math 

def cube(number): 
    number=math.pow(number, 3)
    return number;
def square(number):
    number=math.pow(number,2)
    return number
def sixth_power(number):
    number=number*cube(number)*square(number)
    print(number)


a=int(input("Enter a number: "))
cube(a)
square(a)
sixth_power(a)

Enter a number: 4
4096.0

In [19]:
#example 7 with list combherension 
l=[0,1, 2, 3, 4,5,6,7,8,9,10]
cubes=[pow(i, 3) for i in l]
print(cubes)
#without list compheresion
l=[0,1, 2, 3, 4,5,6,7,8,9,10]
cubes= []
for i in l:
    cubes.append(pow(i, 3))
print(cubes)

[0.0, 1.0, 8.0, 27.0, 64.0, 125.0, 216.0, 343.0, 512.0, 729.0, 1000.0]
[0.0, 1.0, 8.0, 27.0, 64.0, 125.0, 216.0, 343.0, 512.0, 729.0, 1000.0]

In [34]:
###example 8 
def pythagorean_triplets(limits) :
    c, m = 0, 2
    while c < limits :
        for n in range(1, m) :
            a = m * m - n * n
            b = 2 * m * n
            c = m * m + n * n
            if c > limits :
                break
            print(a, b, c)
        m = m + 1  
if __name__ == '__main__' :

    limit=int(input("Enter a number for limit to calculate pythagorean: "))
    pythagorean_triplets(limit)

Enter a number for limit to calculate pythagorean: 100
3 4 5
8 6 10
5 12 13
15 8 17
12 16 20
7 24 25
24 10 26
21 20 29
16 30 34
9 40 41
35 12 37
32 24 40
27 36 45
20 48 52
11 60 61
48 14 50
45 28 53
40 42 58
33 56 65
24 70 74
13 84 85
63 16 65
60 32 68
55 48 73
48 64 80
39 80 89
28 96 100

In [42]:
####example 9 Write a function that takes a tuple of numbers and returns it with the entries normalized to one
data=[2,4,10,6,8,4]
amin,amax = min(data), max(data)
for i,val in enumerate(data):
    data[i]=(val-amin)/(amax-amin)
print(data)

[0.0, 0.25, 1.0, 0.5, 0.75, 0.25]